.school-logo {
  width: 30px;
}

.school-info {
  display: flex;
  align-items: center;
  gap: 1rem; /* logo 和文字之間留點空隙 */
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-image-1 {
  width: 50%;
  height: 734px;
  margin: 66px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 527px;
  min-height: 212px;
  height: auto;
  margin: -709px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-1 .u-list-1 {
  width: 432px;
  margin: 25px auto 60px 20px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 3.75px);
  grid-template-columns: repeat(4, calc(25% - 3.75px));
  min-height: 187px;
  grid-gap: 5px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-image-7 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-image-8 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-image-9 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-image-1 {
    width: 309px;
    height: 455px;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 483px;
    min-height: 218px;
    margin-top: -430px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 116px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -673px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 512px;
    margin: 481px 0 26px auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 144px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 136px;
    margin-top: -599px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 496px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 147px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/O9oBNRs1.jpg");
  --radius: 10px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-2 .u-image-1 {
    min-height: 490px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .u-section-2 .u-image-1 {
    min-height: 311px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 217px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1496px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-transform: none;
  width: 681px;
  margin: 146px auto 0;
}

.u-section-3 .u-line-1 {
  width: 849px;
  transform-origin: left center;
  margin: 34px auto 0;
}

.u-section-3 .u-list-1 {
  width: 867px;
  margin: 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1041px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 27px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 3px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 16px 632px 0 0;
}

.u-section-3 .u-group-1 {
  width: 598px;
  min-height: 260px;
  height: auto;
  margin: -68px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 19px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(71, 138, 201) !important;
}

.u-section-3 .u-container-layout-3 {
  padding: 27px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 3px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 16px 632px 0 0;
}

.u-section-3 .u-group-2 {
  width: 598px;
  min-height: 294px;
  height: auto;
  margin: -68px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-9 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 19px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  color: rgb(71, 138, 201) !important;
}

.u-section-3 .u-container-layout-5 {
  padding: 27px 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 3px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  margin: 16px 632px 0 0;
}

.u-section-3 .u-group-3 {
  width: 598px;
  min-height: 260px;
  height: auto;
  margin: -68px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-13 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 19px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  color: rgb(71, 138, 201) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-3 .u-line-1 {
    height: 3px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    min-height: 696px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-1 {
    width: 449px;
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-2 {
    width: 449px;
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-3 {
    width: 449px;
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 329px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-1 {
    width: 520px;
    min-height: 280px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-2 {
    width: 520px;
    min-height: 280px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }


  .u-section-3 .u-text-11 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-3 {
    width: 520px;
    min-height: 280px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1679px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 50px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 34px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1485px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 129px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 105px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 105px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 105px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    margin-right: 105px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1393px;
}

.u-section-4 .u-shape-1 {
  width: 697px;
  background-image: none;
  height: 1136px;
  margin: 33px 178px 0 auto;
}

.u-section-4 .u-gallery-1 {
  height: 700px;
  width: 100%;
  grid-gap: 10px;
  margin: -966px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 16px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-group-1 {
  width: 470px;
  min-height: 411px;
  background-image: none;
  height: auto;
  margin: -44px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1248px;
  }

  .u-section-4 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 210px;
  }

  .u-section-4 .u-gallery-1 {
    height: 609px;
    margin-top: -773px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -87px;
    margin-right: 50px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 3331px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-4 .u-shape-1 {
    width: 506px;
    height: 1000px;
    margin-top: 33px;
    margin-right: 83px;
  }

  .u-section-4 .u-gallery-1 {
    height: 450px;
    margin-top: -959px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 33px;
    margin-right: 0;
    margin-bottom: 98px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: auto;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-4 .u-shape-1 {
    width: 402px;
    height: 880px;
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 300px;
    margin-top: -808px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 425px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 3331px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1549px;
  }

  .u-section-4 .u-shape-1 {
    width: 276px;
    height: 1485px;
    margin-top: 32px;
  }

  .u-section-4 .u-gallery-1 {
    height: 900px;
    margin-top: -1432px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    width: 305px;
    min-height: 463px;
    margin-top: 32px;
    margin-bottom: 69px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}